*{
	margin: 0;
	padding: 0;
}

body{
	width: 500px;
	margin: 50px auto;
}

form{
	width: 100%;
	background-color: pink;
}

h1{
	color: red;
	background-color: orange;
	text-align: center;
}

table{
	margin: auto;
	padding: 10px 10px;
}

input[type="text"]{
	width: 300px;
	margin-left: 10px;
}

input[type="submit"]{
	background-color: blue;
	width: 50px;
	height: 30px;
	margin-bottom: 8px;
}